<header>
    <nav>
        <ul>
            <%
            var mainClass ='';
            var homeClass ='';
            var aboutClass ='';
            var contentClass ='';
            if (page === 'main'){
                mainClass = 'currentPage';
            } else if (page === 'index'){
                homeClass = 'currentPage'
            } else if (page === 'about'){
                aboutClass = 'currentPage'
            } else if (page === 'content'){
                contentClass = 'currentPage'
            }
            %>
            <li class="<%=mainClass%>">
                <% if (mainClass === 'currentPage'){%>
                <a href="#">
                <%} else {%>
                <a href="./main">
                <%}%>
                    <div>
                        <p>Main</p>
                    </div>
                </a>
            </li>
            <li class="<%=homeClass%>">
                <% if (homeClass === 'currentPage'){%>
                <a href="#">
                <%} else {%>
                <a href="./index">
                <%}%>
                    <div>
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <li class="<%=aboutClass%>">
                <% if (aboutClass === 'currentPage'){%>
                <a href="#">
                <%} else {%>
                <a href="./about">
                <%}%>
                    <div>
                        <p>About</p>
                    </div>
                </a>
            </li>
            <li class="<%=contentClass%>">
                <% if (contentClass === 'currentPage'){%>
                <a href="#">
                <%} else {%>
                <a href="./content">
                <%}%>
                    <div>
                        <p>Content</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>
