<footer>
    <div>
        <table id="contactInfo">
            <tbody>
                <tr>
                    <td>stevelight16@gmail.com</td>
                    <td><a href="https://www.linkedin.com/in/steve-light-5619a542/">My LinkedIn Profile</a></td>
                    <td>(909) 965-6720</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>
            Light Designs &copy; 2017 Steven A Light<br/>Powered by NodeJS
        </p>
    </div>
</footer>
