<footer>
    <div>
        
        <p><a href="mailto:stevelight16@gmail.com">my E-mail address</a></p>
        <p><a href="https://www.linkedin.com/in/steve-light-5619a542/">My LinkedIn profile</a></p>        
    </div>
    <div>
        <p>
            S.Light Design &copy; 2017 Steven Light<br/>Powered by NodeJS
        </p>
    </div>
</footer>
