<header>
    <nav>
        <ul>
            <% if (page==='home'){%>
            <li  class="currentPage">
                <a href="#" >
                    <div>
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a href="/" >
                    <div>
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='gallery'){%>
            <li  class="currentPage">
                <a href="#" >
                    <div>
                        <p>Gallery</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a stv-wip href="#" title="work in progress">
                    <div>
                        <p>WIP</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='design'){%>
            <li  class="currentPage">
                <a href="#" >
                    <div>
                        <p>Mockups</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a href="/site" >
                    <div>
                        <p>Mockups</p>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
    </nav>
</header>
