<header>
    <nav>
        <ul>
            <li class="title">
                <a>
                    <div>
                        <p>Light Designs</p>
                    </div>
                </a>
            </li>
            <% if (page==='home'){%>
            <li  class="currentPage">
                <a>
                    <div>
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a href="/" >
                    <div>
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='gallery'){%>
            <li  class="currentPage">
                <a>
                    <div>
                        <p>Gallery</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <!--       href="/gallery"         -->
                <a wip  title="work in progress" >
                    <div>
                        <p>Gallery</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='design'){%>
            <li  class="currentPage">
                <a>
                    <div>
                        <p>Mockups</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a href="/site" >
                    <div>
                        <p>Mockups</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='about'){%>
            <li  class="currentPage">
                <a>
                    <div>
                        <p>About</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a href="/about" >
                    <div>
                        <p>about</p>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
    </nav>
</header>
