<header>
    <nav>
        <ul>
            <li class="title">
                <a>
                    <div>
                        <p>S.Light Design</p>
                    </div>
                </a>
            </li>
            <% if (page==='home'){%>
            <li  class="currentPage" title="Home Page">
                <a>
                    <div>
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="" title="Home Page">
                <a href="/" >
                    <div>
                        <p>Home</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='gallery'){%>
            <li  class="currentPage" title="Past Projects">
                <a>
                    <div>
                        <p>Gallery</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <!--       href="/gallery"         -->
                <a wip  title="work in progress">
                    <div>
                        <p>Gallery</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='design'){%>
            <li  class="currentPage" title="Website Mockups">
                <a>
                    <div>
                        <p>Mockups</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a href="/site" title="Website Mockups">
                    <div>
                        <p>Mockups</p>
                    </div>
                </a>
            </li>
            <%}%>
            <% if (page==='about'){%>
            <li  class="currentPage" title="About us">
                <a>
                    <div>
                        <p>About</p>
                    </div>
                </a>
            </li>
            <% } else {%>
            <li  class="">
                <a href="/about" title="About us">
                    <div>
                        <p>about</p>
                    </div>
                </a>
            </li>
            <%}%>
        </ul>
    </nav>
</header>
