<!DOCTYPE html>
<html>

<head>
    <title>
        <%= page %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include partials/header%>
    <main>
        <h1 class="">
            About Light Designs
        </h1>
        <p>Utah based designer/developer</p>
        <p>Graduate of Neumont University, with a Bachelor's of Science in Web Design and Development</p>
        <p>Versed in back-end and front-end implementation</p>
        <p>If you would like to contact me with offers, please use my email to set up a phone call.</p>
    </main>
    <% include partials/footer%>
</body>

</html>
