<!DOCTYPE html>
<html>

<head>
    <title>
        S.Light Design | <%= page %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include partials/header%>
    <main>
        <h1 class="">
            About Light Designs
        </h1>
        <article class="<%= page%>">
            <figure>
                <div>
                    <img src="/images/better.png"
                         alt="pic of me" >
                </div>
                <figcaption>
                    <p>
                        pic of me
                    </p>
                </figcaption>
            </figure>
            <div>
                <p>locally Utah based designer and developer<br/>
                Neumont University graduate<br/>
                holder of a Bachelor's of Science in Web Design and Development<br/>
                Versed in back-end development and front-end design<br/>
                If you would like to contact me with offers, please use my email to set up a phone call.</p>
            </div>
        </article>
    </main>
    <% include partials/footer%>
</body>

</html>
