<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include partials/header%>
    <main>
        <h1>
            <%= title %>
        </h1>
        <a href="index">index</a>
    </main>
    <% include partials/footer%>
</body>

</html>