@import url("https://fonts.googleapis.com/css?family=Aldrich");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");
html {
  height: 100%;
  width: 100%;
  background-color: #444;
  font: 10px 'Alegreya Sans', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 3rem;
  border-color: #00658c;
  color: #fff;
}
h2 {
  font-size: 2.5rem;
  border-left-color: var(--blue);
}
h3 {
  font-size: 2.3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya Sans SC';
  border-style: solid;
  border-width: 0;
  margin-top: 0;
  border-bottom-left-radius: 30px;
}
h2,
h3,
h4,
h5,
h6 {
  border-bottom-color: var(--blue);
}
h1,
h2 {
  padding-left: 22px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-top-left-radius: 30px;
}
h3,
h4 {
  padding-left: 20px;
  border-bottom-width: 3px;
  border-left-width: 0;
  border-left-color: var(--blue);
}
h5,
h6 {
  padding-left: 18px;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-left-color: rgba(0,0,0,0);
}
h4,
h5,
h6 {
  font-size: 2.1rem;
}
body {
  font-size: 1.6rem;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0;
  border: none;
}
body header {
  position: sticky;
  display: block;
  top: 0;
  height: 60px;
  background-color: #222;
  margin: 0;
  padding: 10px 0 0 0;
  z-index: 1000;
  border-bottom: solid var(--blue) 10px;
}
body header > nav {
  height: calc(100%);
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}
body header > nav > span.nav-logo {
  font-size: 2rem !important;
}
body header > nav > ul {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  list-style-type: none;
  font-family: 'Alegreya Sans SC';
  font-size: 2.2rem;
}
body header > nav > ul > li {
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}
body header > nav > ul > li.active a {
  cursor: default !important;
}
body header > nav > ul > li > a {
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
body header > nav > ul > li > a[wip]:hover {
  cursor: not-allowed;
  background-color: #00658c;
  color: #fff;
}
body header > nav > ul > li > a > div {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}
body header > nav > ul > li > a > div > p {
  display: inline-block;
  position: absolute;
  bottom: 0;
  line-height: 3rem;
  height: 2.5rem;
  text-align: center;
  width: 100%;
  padding: 0 0 10px 0;
  margin: 0;
}
body header > div {
  display: inline-block;
  width: 136px;
  height: 40px;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 30px;
  border: 2px solid #00658c;
  border-bottom-width: 0;
  background-color: #d19111;
  color: #000;
}
body header > div > p {
  display: inline-block;
  position: absolute;
  bottom: 0;
  line-height: 2rem;
  height: 2rem;
  text-align: center;
  width: 100%;
  padding: 0 0 10px 0;
  margin: 0;
}
body footer {
  height: 140px;
  background-color: var(--blue);
  border-top: solid #00658c 10px;
  color: #fff;
}
body footer > div {
  height: calc(50% - 20px);
  padding: 0;
  position: relative;
}
body footer > div:first-child {
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: solid #fff 2px;
}
@media (min-width: 820px) {
  body footer > div:first-child {
    width: 800px;
    left: calc(50% - 400px);
  }
}
body footer > div:first-child > p {
  width: calc(50% - 2px);
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 15px;
}
body footer > div:first-child > p:first-child {
  border-right: solid #fff 1px;
  margin-right: 1px;
  left: 0;
}
body footer > div:first-child > p:last-child {
  border-left: solid #fff 1px;
  margin-left: 1px;
  right: 0;
}
body footer > div:last-child {
  width: 100%;
}
body footer > div:last-child > p {
  text-align: center;
  width: 300px;
  position: relative;
  left: calc(50% - 150px);
}
body header,
body footer {
  width: 100%;
}
body main {
  color: #000;
  width: calc(100% - 40px);
  position: relative;
  left: 0 /*calc(50% - (95% / 2))*/;
  padding: 30px 20px;
  margin: 0;
  display: inline-block;
/*background-color noColor*/
  background-color: rgba(255,255,255,0.15);
}
@media (min-width: 1000px) {
  body main {
    width: calc(90% - 40px);
    padding: 30px 20px;
    left: calc(50% - (90% / 2));
  }
}
@media (min-width: 1200px) {
  body main {
    width: calc(75% - 40px);
    padding: 30px 20px;
    left: calc(50% - (75% / 2));
  }
}
body main > section {
  border: #444 solid 4px;
  border-left-width: 0;
  border-right-width: 0;
  border-left-color: rgba(0,0,0,0);
  border-right-color: rgba(0,0,0,0);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 15px 20px;
  background-color: rgba(255,255,255,0.1);
  margin-bottom: 20px;
}
body main > article,
body main > section > article {
  display: flex;
  width: calc(100%);
  padding: 15px 0;
  margin: 20px 0;
  border-bottom: solid rgba(255,255,255,0.15) 4px;
}
@media (min-width: 1000px) {
  body main > article,
  body main > section > article {
    width: calc(100%);
    margin: 20px 0;
  }
}
body main > article:nth-of-type(even) > figure,
body main > section > article:nth-of-type(even) > figure {
  order: 2;
  margin: 0 0 0 5px;
}
body main > article:nth-of-type(even) > figure > img,
body main > section > article:nth-of-type(even) > figure > img {
  color: #000;
}
body main > article:nth-of-type(even) > div,
body main > section > article:nth-of-type(even) > div {
  margin: 0 5px 0 0;
}
body main > article > figure,
body main > section > article > figure {
  background-color: rgba(0,0,0,0.1);
  width: calc(35% - 5px);
  height: 200px;
  margin: 0 5px 0 0;
/*padding 2px*/
  border: #000 solid 2px;
  display: inline-block;
  position: relative;
}
body main > article > figure > div,
body main > section > article > figure > div {
  height: calc(80% - 1px);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-bottom: #000 solid 1px;
}
body main > article > figure > div > img,
body main > section > article > figure > div > img {
  width: 70%;
}
body main > article > figure > figcaption,
body main > section > article > figure > figcaption {
  font-family: Aldrich, sans-serif;
  height: calc(20%);
  width: calc(100%);
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,0.2);
}
body main > article > figure > figcaption > p,
body main > section > article > figure > figcaption > p {
/*margin 0
                        padding 0*/
  font-size: 1.2rem;
  text-align: center;
}
body main > article > div,
body main > section > article > div {
  width: calc(65% - 5px);
  margin: 0 0 0 5px;
  display: inline-block;
}
body main > article > div > h3,
body main > section > article > div > h3,
body main > article > div > p,
body main > section > article > div > p {
  color: inherit;
}
a {
  text-decoration: none;
}
a.dark {
  color: #5e528a;
}
