mainColor1 = #222

mainColor2 = #444

//blue
accentColor1 = #11b7b7
//accentColor1light = #11b7b7

//green
accentColor2 = #3F6269
//accentColor1light = #11b7b7

//orange
accentColor3 = #D19111
//accentColor1light = #11b7b7

//purple
accentColor4 = #5E528A
//accentColor1light = #11b7b7


accentPurple = #5E528A

linkColor1 = #ffffff
linkColor2 = #585C94

bgColor = #444
//#444
lightText = #fff
darkText = #000

footerText = lightText
mainText = darkText
//bgColor = #fff
//#018A4A
//#019425
//#0C7D07
//#3B9401
//#668A01  92c601

//#5E528A
//#585C94
//#515F7D
//#587B94
//#3F6269
//#11b7b7 accent color 1

//#FFC814
//#D19111
//#965D13
//#AD500E
//#822B0B

// better font
// darker backgrounds, lighter accents


//html tag
html
    height 100%
    width 100%
    background-color mainColor2
    font 10px "Lucida Grande", Helvetica, Arial, sans-serif
//    width 100%

//heading tags
h1
    font-size 2.5rem
    //border-radius 0 15px
    border-bottom solid accentColor1 4px
    border-left solid rgba(255,255,255,0) 4px
    padding-left 20px
    margin-top 0
h2
    font-size 2.3rem
    border-bottom solid accentColor1 4px
    border-left solid rgba(0,0,0,0) 4px
    padding-left 18px
    margin-top 0
h3
    font-size 2.1rem
    border-bottom solid accentColor1 4px
    border-left solid rgba(0,0,0,0) 4px
    padding-left 16px
    margin-top 0
h4
    font-size 1.8rem
    border-bottom solid accentColor1 4px
    border-left solid rgba(0,0,0,0) 4px
    padding-left 14px
    margin-top 0
h5
    font-size 1.6rem
    border-bottom solid accentColor1 4px
    border-left solid rgba(0,0,0,0) 4px
    padding-left 14px
    margin-top 0
h6
    font-size 1.4rem
    border-bottom solid accentColor1 4px
    border-left solid rgba(0,0,0,0) 4px
    padding-left 14px
    margin-top 0
    

body
    font-size 1.4rem
    height 100%
    margin 0 0 0 0 
    padding 0
    border none
    header
        position sticky
        display block
        top 0
        height 60px
        background-color mainColor1
        margin 0
        padding 10px 0 0 0
        z-index 1000
        border-bottom solid accentPurple 10px
        nav
            @media (min-width: 1000px)
                width calc(90%)
                left 5%
            width calc(100%)
            height calc(100% - 30px)
            padding 0
            margin 0
            position absolute
            bottom 0
            ul
                width 100%
                height 100%
                margin 0
                padding 0
                position absolute
                display flex
                bottom 0
                list-style-type none
                li
                    display inline-flex
                    flex-basis auto
                    position relative
                    bottom 0
                    width calc(20% - 8px)
                    margin 0 4px
                    padding 0
                    height 100%
                    &:hover
                        a
                            background-color accentColor3
                            //border-left-color accentColor1
                    &.currentPage
                        a
                            background-color accentColor3
                            color darkText
                            cursor default
                    &.title
                        a,a:hover
                            background-color accentColor2
                            color darkText
                    a
                        height 100%
                        width 100%
                        padding 0
                        margin 0
                        font-size 2rem
                        display inline-block
                        position absolute
                        bottom 0
                        background-color accentColor1
                        color lightText
                        &[wip]:hover
                            cursor not-allowed
                            background-color accentColor1
                        div
                            display inline-block
                            position relative
                            height 100%
                            width 100%
                            p
                                display inline-block
                                position absolute
                                bottom 0
                                line-height 2rem
                                height 2rem
                                text-align center
                                width 100%
                                padding 0 0 10px 0
                                margin 0

                            
        > div
            display inline-block
            width 136px
            height 40px
            padding 0
            margin 0
            
            
            font-size 2rem
            position absolute
            bottom 0
            left 30px
            border 2px solid accentColor2
            border-bottom-width 0
            background-color accentColor3
            color darkText
            > p
                display inline-block
                position absolute
                bottom 0
                line-height 2rem
                height 2rem
                text-align center
                width 100%
                padding 0 0 10px 0
                margin 0
    footer
        height 140px
        background-color accentColor1
        border-top solid accentColor2 10px
        color footerText
        > div
            height calc(50% - 20px)
            padding 0
            position relative
            > table
                width 60%
                position relative
                left calc(20% - 2px)
                text-align center
                top 15px
                tbody
                    tr
                        td:nth-child(2)
                            border-left solid footerText 2px
                            border-right solid footerText 2px
        > div:first-child
            width 800px
            left calc(50% - 400px)
            top 0
        > div:last-child
            width 100%
            > p
                text-align center
                width 300px
                position relative
                left calc(50% - 150px)
    header
    footer
        width 100%
    main
        color mainText
        //background-color #BBB;
        width 70%
        position relative
        left calc(50% - (70% / 2))
        padding 30px 0
        margin 0
        display inline-block
        article
            width calc(100% - 30px)
            padding 15px
            display flex
            &:nth-of-type(odd)
                background-color #f0f
            &:nth-of-type(even)
                background-color #0f0
                figure
                    order 2
                    margin 0 0 0 5px
                div
                    margin 0 5px 0 0
                    
            figure
                width calc(35% - 15px)
                margin 0 5px 0 0
                padding 4px
                border #000 solid 1px
                display inline-block
                position relative
                img
                    width calc(100% - 20px)
                    max-width 
                    position relative
                    left 10px
                    top 10px
                figcaption
                    position absolute
                    bottom 0
            div
                width calc(65% - 5px)
                margin 0 0 0 5px
                display inline-block
                h3, p
                    color inherit

a
    color #7ec13f
    text-decoration none
    &:hover
        color: linkColor1
//#23aae0 #00B7FF