<!DOCTYPE html>
<html>

<head>
    <title>
        S.Light Design | <%= page %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/<%=stylesheet%>.css' />
</head>

<body>
    <% include ../partials/header%>
    <main>
        <h1>Site Mockup Gallery</h1>
        <p>The below websites offer examples of my skills in responsive web design with a variety of website templates</p>
        <p>Each sub-site has a theme </p>
        <div>
            <a href="site/green">Green</a>
            <p>A site that is solely shades of green no template used</p>
        </div>
    </main>
    <% include ../partials/footer%>
</body>

</html>