<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/design/<%=site%>.css' />
</head>

<body>
    <% include ../partials/header%>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>About the green site</p>
        <a href="./green">site</a>
    </main>
    <footer></footer>
</body>

</html>
