<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/design/<%=site%>.css' />
</head>

<body>
    <% include ../partials/header %>
    <main>
        <h1>
            Green <%= title %>
        </h1>
        <p>Example content<br>soon to have free stock images of green things</p>
    </main>
    <footer></footer>
</body>

</html>
