<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/stylesheets/<%=stylesheet%>.css' />
</head>

<body>
    <% include ../partials/header%>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Green site Content</p>
        <a href="./green">site</a>
    </main>
    <footer></footer>
</body>

</html>
