//Colors

bgHtml = #779977
bgHeader = #63ba63
bgFooter = #176400
//bgFooter = #209d16
bgMain = #c6f49f
lightAccent1 = #6ee225
lightAccent2 = #c6f49f
darkAccent1 = #209d16
darkAccent2 = #176400
grayAccent1 = #779977
colorLightText = #6ee225
colorDarkText = #209d16
bgHeaderGradient = linear-gradient(180deg, lightAccent1, rgba(119, 153, 119, .92) 80%)

//@import url('https://fonts.googleapis.com/css?family=Aldrich');
//@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i');
//@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
//textFigCaption = Aldrich
textHeading = 'Helvetica'
textBodyCopy = 'Arial'

html
    width 100%
    height 100%
    padding 0
    margin 0
    font 10px Helvetica, Arial, sans-serif
    background-color bgHtml
body
    width 100%
    height 100%
    padding 0
    margin 0
    display inline-block
    > header
        position sticky
        display block
        top 0
        height 50px
        background bgHeaderGradient
        margin 0
        padding 0 0 0 0
        z-index 1000
        border-top solid lightAccent1 10px
        > nav
            @media (min-width: 1200px)
                width calc(82%)
                left 9%
            width 100%
            height 100%
            padding 0
            margin 0
            position absolute
            top 0
            > ul
                width 100%
                height 100%
                margin 0
                padding 0
                position absolute
                display flex
                bottom 0
                list-style-type none
                font-family textHeading
                font-size 3rem
                > li
                    display inline-flex
                    flex-basis auto
                    position relative
                    bottom 0
                    width calc(23% - 4px)
                    height calc(100% - 15px)
                    padding 0
                    margin 0
                    background-color darkAccent1
                    border solid grayAccent1 2px
                    border-top-width 0
                    border-bottom-width 0
                    &:hover
                        a
                            background-color lightAccent1
                            color bgHeader
                            &:active
                                color bgHeader
                    &.currentPage, &.currentPage:last-child, &.currentPage:first-child
                        height calc(100% - 6px)
                        width 31%
                        border-radius 0
                        border 0 solid colorDarkText
                        border-bottom-width 6px
                        background-color lightAccent1
                        a
                            color colorDarkText
                            cursor default
                            width 100%
                            height calc(100% - 6px)
                        border-radius 0
                    &.title
                        > a
                        > a:hover
                            background-color darkAccent1
                            color colorLightText
                    &:first-child
                        width calc(23% - 2px)
                        border-left-width 0
                    &:last-child
                        width calc(23% - 2px)
                        border-right-width 0
                    > a
                        height 100%
                        width 100%
                        padding 0
                        margin 0
                        display inline-block
                        position absolute
                        bottom 0
                        color colorLightText
                        &[wip]:hover
                            cursor not-allowed
                            background-color darkAccent1
                            color colorLightText
                        > div
                            display inline-block
                            position relative
                            height 100%
                            width 100%
                            > p
                                display inline-block
                                position absolute
                                bottom 0
                                line-height 3rem
                                height 2.5rem
                                text-align center
                                width 100%
                                padding 0 0 10px 0
                                margin 0
    > footer
        width calc(80% - 8px)
        height calc(100px - 4px)
        background-color bgFooter
        padding 0
        margin 0 10%
        border-top-left-radius 15px
        border-top-right-radius 15px
        border solid lightAccent2 4px
        border-bottom-width 0
    > main
        width calc(80% - 48px)
        min-height calc(100% - 100px)
        background-color bgMain
        padding 20px 20px
        margin 10px 10%
        border-radius 15px
        border solid darkAccent2 4px
        
        
        
        
        
        
        